<h4>Usuários</h4>
<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="{{ path('user_list') }}">Listar Usuários</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('user_list') }}">Cadastrar Usuário</a></li>
</ul>
<h4>Items</h4>
<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="{{ path('item_list') }}">Listar Items</a></li>
    <li class="nav-item"><a class="nav-link" href="{{ path('item_list') }}">Cadastrar Item</a></li>
</ul> 
<h4>Movimentação</h4>
<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="{{ path('item_movement') }}">Movimentar Items</a></li>
</ul> 
<h4>Relatório</h4>
<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" href="{{ path('item_report') }}">Relatório</a></li>
</ul> 